.form table tr td{
    padding-top: 10px;
    padding-right:20px;
}
#select{
    height: 25px;
}
#submit{
    background-color: red;
    color: white;
    height: 30px;
}
#submit:hover{
    background-color: white;
    color: red;
}